{% extends "seeded_layout.html" %}

{% block seeded_content %}
<!-- Loadout Card -->
<div class="card bg-white p-6 rounded shadow-lg max-w-md w-full flex flex-col items-center">
  <h2 class="text-2xl font-bold mb-4">Random Loadout</h2>

  <div class="flex flex-wrap justify-center gap-4 mt-2">
    <div class="flex flex-col items-center">
      <img src="{{ loadout.char_img }}" class="w-32 h-32 object-scale-down">
      <span class="text-sm font-semibold mt-2">{{ loadout.char_name }}</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="{{ loadout.kart_img }}" class="w-32 h-32 object-scale-down">
      <span class="text-sm font-semibold mt-2">{{ loadout.kart_name }}</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="{{ loadout.wheel_img }}" class="w-32 h-32 object-scale-down">
      <span class="text-sm font-semibold mt-2">{{ loadout.wheel_name }}</span>
    </div>
    <div class="flex flex-col items-center">
      <img src="{{ loadout.glider_img }}" class="w-32 h-32 object-scale-down">
      <span class="text-sm font-semibold mt-2">{{ loadout.glider_name }}</span>
    </div>
  </div>
</div>
{% endblock %}